@import "variables";

.dangerZone {
  margin: 2rem auto 0 auto;
  padding: 2rem;
  background: #ffe2e2;
  display: grid;
  max-width: 400px;
  border-radius: $border-radius;

  .atencao {
    text-transform: uppercase;
    color: $red;
    font-weight: bold;
  }

  .buttons {
    display: flex;
    justify-content: space-around;
  }
}
