* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

body {
  background-color: $bg-color;
  color: $black;
}

.alert {
  font-size: 1.125rem;
  border-left: 11px solid transparent;
  padding: 0.5rem;
  color: $black;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  margin-bottom: 16px;
  border-radius: $border-radius;

  &::before {
    content: "";
    display: inline-block;
    position: relative;
    top: 2px;
  }
}
