@import "variables";

.links {
  margin: 3rem auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5rem;
  background: $white;
  max-width: 500px;
  border-radius: $border-radius;
  box-shadow: 0px 0px 24px 0px #e7e7e7;
}
