.togglePasswordButton {
  &::before {
    content: url("../../public/show-password.svg");
    display: inline-block;
    padding: 4px;
    cursor: pointer;
    position: absolute;
    right: 8px;
    bottom: 4px;
  }
  &.active::before {
    content: url("../../public/hide-password.svg");
  }
}
